.text-area:focus  {
        outline: none;   
}


.fixedContainer {
        position: fixed;
        width: 42.5%;
        left: 46.8%;
        top: 0%;
        z-index: 2;
        transform: translateX(-50%);
    }