<div class="card fixedContainer border-secondary mb-3">
    <div class="card-header">Home</div>
    <form class="container" [formGroup]="tweet" (submit)="submit();">
        <div class="card-body text-secondary">
                <textarea [maxlength]="tweetMaxLength" [(ngModel)]="chars" (ngModelChange)="charCounter(chars)" placeholder="What's Happening" formControlName="content" class="container text-area"></textarea>   
        </div>
        <div class="row justify-content-around mb-3 align-items-center">
            <button type="submit" class="btn btn-primary col-3" [disabled]="!tweet.valid">Tweet</button>
            <span class="col-3">{{charsLeft || tweetMaxLength}}</span>
        </div>
    </form>    
</div>